name: CI IntegradorII

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  php-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar c칩digo
        uses: actions/checkout@v4

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Revisar sintaxis de archivos PHP
        run: |
          find . -name "*.php" -print0 | xargs -0 -n 1 php -l

  security-sast:
    runs-on: ubuntu-latest
    needs: php-lint   # primero lint, luego SAST

    steps:
      - name: Descargar c칩digo
        uses: actions/checkout@v4

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Descargar Psalm (SAST para PHP)
        run: |
          curl -L https://github.com/vimeo/psalm/releases/latest/download/psalm.phar -o psalm.phar
          php psalm.phar --version

      - name: Ejecutar an치lisis est치tico de seguridad (Psalm)
        run: php psalm.phar --taint-analysis --no-progress
        continue-on-error: true   # 游녤 si encuentra problemas, deja advertencia, pero no rompe el pipeline
